In [52]:
# pip install SQLAlchemy

In [53]:
import pandas as pd
from utils import *
from sqlalchemy import create_engine

In [54]:
kaggle_url = "mahatiratusher/flight-price-dataset-of-bangladesh"
output_dir = "./input"

In [55]:
path = download_dataset(kaggle_url, output_dir)
print(f"The dir for the datasest-:{path}")

2025-05-15 12:15:52 INFO [utils] Starting dataset download function.
2025-05-15 12:15:52 INFO [utils] Dataset already exists in './input'. Skipping download.

The dir for the datasest-:./input

In [ ]:
# CREATE Database Connection

host="localhost"
user="root"
password="my-secret"
dbname = "bangladesh_flight_db"
url=f"mysql+mysqlconnector://{user}:{password}@{host}/{dbname}"
bangladesh_conn = get_connection_sqlalchemy(url)

Engine(mysql+mysqlconnector://root:***@localhost/bangladesh_flight_db) connected Succesfully

In [ ]:
# ## Read from csv
flight_df = pd.read_csv(f"{output_dir}/Flight_Price_Dataset_of_Bangladesh.csv")

# # Rename DataFrame columns
# column_mapping = {
#     "Airline": "airline",
#     "Source": "source",
#     "Source Name": "source_name",
#     "Destination": "destination",
#     "Destination Name": "destination_name",
#     "Departure Date & Time": "departure_datetime",
#     "Arrival Date & Time": "arrival_datetime",
#     "Duration (hrs)": "duration",
#     "Stopovers": "stopovers",
#     "Aircraft Type": "aircraft_type",
#     "Class": "class",
#     "Booking Source": "booking_source",
#     "Base Fare (BDT)": "base_fare",
#     "Tax & Surcharge (BDT)": "tax_surcharge",
#     "Total Fare (BDT)": "total_fare",
#     "Seasonality": "seasonality",
#     "Days Before Departure": "days_before_departure"
# }
# flight_df.rename(columns=column_mapping, inplace=True)

# flight_df['departure_datetime'] = pd.to_datetime(flight_df['departure_datetime']).dt.strftime('%Y-%m-%d %H:%M:%S')
# flight_df['arrival_datetime'] = pd.to_datetime(flight_df['arrival_datetime']).dt.strftime('%Y-%m-%d %H:%M:%S')

# flight_df.info()

prepare_data(flight_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57000 entries, 0 to 56999
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   airline                57000 non-null  object
 1   source                 57000 non-null  object
 2   source_name            57000 non-null  object
 3   destination            57000 non-null  object
 4   destination_name       57000 non-null  object
 5   departure_datetime     57000 non-null  object
 6   arrival_datetime       57000 non-null  object
 7   duration               57000 non-null  float64
 8   stopovers              57000 non-null  object
 9   aircraft_type          57000 non-null  object
 10  class                  57000 non-null  object
 11  booking_source         57000 non-null  object
 12  base_fare              57000 non-null  float64
 13  tax_surcharge          57000 non-null  float64
 14  total_fare             57000 non-null  float64
 15  seasonality            57000 non-null  object
 16  days_before_departure  57000 non-null  int64
dtypes: float64(4), int64(1), object(12)
memory usage: 7.4+ MB

In [58]:
flight_df[['airline','source', 'destination', 'departure_datetime']].value_counts()

airline         source  destination  departure_datetime
Air Arabia      BZL     BKK          2025-03-19 00:26:00    1
Qatar Airways   RJH     CGP          2026-02-24 01:08:00    1
                                     2025-08-04 04:51:00    1
                                     2025-08-18 21:15:00    1
                                     2025-10-18 08:21:00    1
                                                           ..
Etihad Airways  CXB     JED          2025-12-21 01:45:00    1
                        JFK          2025-03-21 10:34:00    1
                                     2025-04-11 13:53:00    1
                                     2025-04-24 11:12:00    1
Vistara         ZYL     YYZ          2026-02-14 15:02:00    1
Name: count, Length: 57000, dtype: int64

In [ ]:
# flight_df.to_sql("bangladesh_flight", bangladesh_conn, if_exists="append",index=False, )

stage_to_mysql(flight_df, bangladesh_conn)

-1

In [ ]:
# import mysql.connector

# conn = mysql.connector.connect(
#     host="localhost",
#     user="root",
#     password="my-secret",
#     database="bangladesh_flight_db"
# )

# cursor = conn.cursor()

# # Assuming your column order matches
# sql = """
#     INSERT INTO bangladesh_flight (
#         airline, source, source_name, destination, destination_name,
#         departure_datetime, arrival_datetime, duration, stopovers,
#         aircraft_type, class, booking_source, base_fare, tax_surcharge,
#         total_fare, seasonality, days_before_departure
#     ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
# """

# # Convert dataframe to list of tuples
# data = flight_df[[
#     'airline', 'source', 'source_name', 'destination', 'destination_name',
#     'departure_datetime', 'arrival_datetime', 'duration', 'stopovers',
#     'aircraft_type', 'class', 'booking_source', 'base_fare', 'tax_surcharge',
#     'total_fare', 'seasonality', 'days_before_departure'
# ]].values.tolist()

# cursor.executemany(sql, data)
# conn.commit()
# conn.close()

IntegrityError: 1062 (23000): Duplicate entry 'Malaysian Airlines-CXB-CCU-2025-11-17 06:25:00' for key 'bangladesh_flight.PRIMARY'